

.App {
  font-family: 'Ubuntu', sans-serif;
  color: grey;
  text-align: center;
}

input[type="checkbox"] {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

h3 {
  margin: 0;
}

.form {
display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 100vw;
height: 400px;
align-items: center;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  padding-bottom: 20px;
  transition: ease-in, 0.2s;
}

.question.health:hover {
  background-color: rgba(217, 231, 235, 0.397);
  transform: translate(5px, -5px);
}
.question.job:hover {
  background-color: rgba(221, 232, 247, 0.438);
  transform: translate(5px, -5px);
}
.question.love:hover {
  background-color: rgba(252, 222, 222, 0.432);
  transform: translate(-5px, -5px);
}
.question.self:hover {
  background-color: rgba(255, 241, 210, 0.425);
  transform: translate(-5px, -5px);
}

.answers {
  display: flex;
  margin: 0 auto;
  min-width: 20px;
  max-width: 400px;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
}
.submit, .clear{
  margin: 5px 20px;
  width: 85px;
  height: 40px;
  border: none;
  transition: ease-in, 0.1s;
  color: grey;
  font-weight: 300;
}

.later {
  margin: 5px 20px;
  width: 250px;
  height: 40px;
  border: none;
  transition: ease-in, 0.1s;
  color: grey;
  font-weight: 300;
}

.submit:hover {
  color: white;
  background-color: rgba(83, 125, 136, 0.705);
}

.clear:hover {
  color: white;
  background-color: rgba(150, 46, 46, 0.575);
}

.later:hover {
  color: white;
  background-color: rgba(39, 42, 70, 0.575);
}

.submit:active, .clear:active {
  transform: scale(0.95, 0.95)
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}

.tagline {
  display: none;
  width: 200px;
}

.buttons {
  display: inline-flex;
  width: 250px;
  flex-wrap: wrap;
}